/* Container holding the image and the text */
.bg-container {
  position: relative;
  text-align: center;
  color: white;
  background-color: #000000;
  margin-bottom: 2rem;
}

.bg-container img {
  opacity: 0.5;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
