/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ngx-share/button/themes/default/default-theme";
@import "~@ngx-share/button/themes/material/material-dark-theme";
@import "~@ngx-share/button/themes/variables";
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
